[flake8]
max-line-length = 120
extend-ignore = E203
max-complexity = 15
exclude = .git, 
          __pycache__, 
          build, 
          dist, 
          i18n, 
          .venv,
          *.pyi,
          c:/Users/,
          examples/*, 
        #   bmw*, 
          ext_libs, 
          d0*, 
          research,
          
# continuation line under-indented for visual indentFlake8(E128)
# closing bracket does not match indentation of opening bracket's lineFlake8(E123)
# continuation line over-indented for hanging indentFlake8(E126)
per-file-ignores =
    tests/conftest.py: E128, E123, E126

# extend-ignore = E203
# F401 'pytest_qgis.pytest_qgis.*' imported but unused
# E241 multiple spaces after ':'
# E262 inline comment should start with '# '
# E302 expected 2 blank lines, found 1
# E501 line too long (90 > 88 characters)
# E701 multiple statements on one line
# QGS101, QGS102

# E265 block comment should start with '# ' Flake8(E265)
# QGS105 Do not pass iface (QgisInterface) as an argument, instead import it: 'from qgis.utils import iface' Flake8(QGS105)
# W293 blank line contains whitespace Flake8(W293)
# QGS202 Check the success flag and possibly error message from return value of the method if it is some of (QgsRasterAttributeTable.setValue(), QgsRasterBlock.setValue()). Otherwise ignore this error.Flake8(QGS202)
# W503 line break before binary operator Flake8(W503)
# QGS201 (experimental) Check the success flag and possibly error message from return value of some of (QgsProject.startEditing(), QgsVectorLayer.startEditing()).
# TR012 `format` method argument is resolved before translation callFlake8(TR012)
ignore = E265, QGS105, W293, QGS202, W503, QGS201, TR012



