[flake8]
max-line-length = 88
extend-ignore = E203
exclude = .git, __pycache__, build, dist, .venv, examples

# extend-ignore = E203
# W503 line break before binary operator
# F401 'pytest_qgis.pytest_qgis.*' imported but unused
# E241 multiple spaces after ':'
# E262 inline comment should start with '# '
# E302 expected 2 blank lines, found 1
# E501 line too long (90 > 88 characters)
# E701 multiple statements on one line
# QGS105 Do not pass iface (QgisInterface) as an argument, instead import it: 'from qgis.utils import iface'
# QGS101, QGS102

# block comment should start with '# ' Flake8(E265)
# Do not pass iface (QgisInterface) as an argument, instead import it: 'from qgis.utils import iface' Flake8(QGS105)
# blank line contains whitespace Flake8(W293)
# Check the success flag and possibly error message from return value of the method if it is some of (QgsRasterAttributeTable.setValue(), QgsRasterBlock.setValue()). Otherwise ignore this error.Flake8(QGS202)

ignore = E265, QGS105, W293, QGS202



